
    <!-- Portfolio Grid Section
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Get Involved with CMX</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#portfolioModal-{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section> -->

    <!-- AMA Section -->
       <section id="portfolio">
           <div class="container">
               <div class="row">
                   <div class="col-lg-12 text-center">
                       <h2>Join our next AMA</h2>
                       <hr class="star-light">
                   </div>
               </div>
               <div class="row">
                   <div class="col-lg-4 col-lg-offset-2">
                       <p>Every month we have AMA - Ask Me Anything - where experienced community members are available to answer questions!</p>
                       <div class="col-lg-8 col-lg-offset-2 text-center">
                           <a href="https://goo.gl/forms/H50R5rrtq5l7lyz52" class="btn btn-lg btn-success">
                               <i class="fa fa-slack"></i> Be our next AMA Expert </a>
                       </div>
                   </div>
                   <div class="col-lg-4">
                       <p>We welcome everyone and anyone to get involved by either asking questions, or volunteering to be the next expert.</p>
                       <br>
                       <div class="col-lg-8 col-lg-offset-2 text-center">
                           <a href="https://calendar.google.com/calendar/embed?src=cmxsummit.com_nbn7nj5hvmg0roq8d8lgck5usk%40group.calendar.google.com&ctz=America/New_York" class="btn btn-lg btn-success">
                               <i class="fa fa-slack"></i> AMA Calendar </a>
                       </div>
                   </div>

               </div>
           </div>
       </section>
